.header {
    margin-top: 0%;
    margin-bottom: 15%;
}

.navbar-dark .navbar-brand {
    color: #d33682 !important;
    font-size: 1.5em;
}

h2 {
    font-size: 2.25em !important;
}

.jum-title1 {
    color: #0ce3ac !important;
    margin-bottom: 1em;
}

.jum-title2 {
    color: #9933cc !important;
    margin-bottom: 1em;
}

#jum-title-icon {
    float: right;
}

#page-title {
    color: #d33682;
    text-align: center;
    margin-bottom: 1em;
}

.modal-title {
    color: #d33682;
    text-align: center;
    margin-bottom: 2.5em;
}

#directions {
    font-size: 1.5em;
}

#directions > h2 {
    text-align: center;
    margin-bottom: 0.25em;
}

.ws-icon {
    color: #d33682;
}

#chevron-btn {
    font-size: 3.25em;
    color: #d33682;
    margin-bottom: 1em;
}

.ip-addr {
    color: #e74c3c;
}

.btn-primary {
    background-color: #3498db !important;
    border-color: #258cd1 !important;
}

.room-div {
    background-color: #464545 !important;
    color: whitesmoke;
    font-size: 22px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.room-div > a > .fa {
    display: inherit !important;
    font-size: 3.25em;
    text-align: center;
    color: #3498db;
    margin-bottom: 1em;
}

