{% include "navbar.html" %}

<script data-require="bootstrap@*" data-semver="3.1.1" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">

    <div class="cover-container">
        <div class="header">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <span id="directions">
                    <h2 class="text-uppercase">How to play:</h2>
                        <hr half>
                    <ol>
                        <li>Select a workshop you'd like to participate in.</li>
                        <li>If &nbsp;<i class="fa fa-user ws-icon" aria-hidden="true"></i>&nbsp;, then workshop can be completed alone.</li>
                        <li>If &nbsp;<i class="fa fa-users ws-icon" aria-hidden="true"></i>&nbsp;, then workshop can be completed in teams.</li>
                        <li>If you decide to work in a team:
                            <ul>
                                <li>The team leader must create a room.</li>
                                <li>Then, the team leader must share room key with friends.</li>
                                <li>Friends must enter username and shared room key to enter room.</li>
                                <li>Team leader will begin session when all team members are in room.</li>
                            </ul>
                        </li>
                        <li>Good luck!</li>
                        <br>
                    </ol>
                    </span>

                    <div class="text-center">
                        <a href="#workshop-1" id="chevron-btn" class="js-scroll-trigger">
                            <i class="fa fa-chevron-circle-down fa-lg" aria-hidden="true"></i>
                        </a>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="workshop-1" class="jumbotron primary-jum">
        <h2>{{message}}</h2>
        <h2 class="jum-title1">Route Hijacking <i class="fa fa-users fa-lg" id="jum-title-icon" aria-hidden="true"></i></h2>

        <p>
            A description of what this lab is about and why you should participate.
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
            Maecenas sed diam eget risus varius blandit sit amet non magna.
            <br><br><br>
        </p>

        <div class="text-center">
            <!--<button type="button" class="center btn btn-primary btn-lg" data-toggle="modal" data-target="#rh-modal">-->
            <button type="button" class="center btn btn-primary btn-lg" onclick="showHide('rh-ws-div')">
                Begin Workshop
            </button>
        </div>

        <br><br>

        <div id="rh-ws-div" style="display: none;">

            {%for i in range(0,rh_num)%}

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 room-container">

                    <div class="room-div">

                        <h3 class="text-center">RH-{{i}}</h3>

                        <a href="#" class="rh" data-toggle="modal" data-name="RH-{{i}}" data-wsu="wsu{{i}}" data-target="#room-modal">
                            <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                        </a>
                        &nbsp;
                        <a href="#" class="rh" data-toggle="modal" data-name="RH-{{i}}" data-target="#team-modal">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </a>
                        <br><br>

                        {% set roomname = "RH-" ~ i %}

                        {{ get_users(roomname) }}

                    </div>

                </div>
            </div>

            {% endfor %}



            <!--<div class="row">-->
                <!--<div class="col-sm-6 room-container">-->


                    <!--<div class="room-div">-->

                        <!--<h3 class="text-center">RH-1</h3>-->

                        <!--<a href="#" class="rh" data-toggle="modal" data-name="RH-1" data-target="#room-modal">-->
                            <!--<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>-->
                        <!--</a>-->
                        <!--&nbsp;-->
                        <!--<a href="#" class="rh" data-toggle="modal" data-name="RH-1" data-target="#team-modal">-->
                            <!--<i class="fa fa-sign-in" aria-hidden="true"></i>-->
                        <!--</a>-->
                        <!--<br><br>-->

                        <!--{{ teamlist }}-->

                    <!--</div>-->

                <!--</div>-->
                <!--<div class="col-sm-6 room-container">-->


                    <!--<div class="room-div">-->

                        <!--<h3 class="text-center">RH-2</h3>-->

                        <!--<a href="#" class="rh" data-toggle="modal" data-name="RH-2" data-target="#room-modal">-->
                            <!--<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>-->
                        <!--</a>-->
                        <!--&nbsp;-->
                        <!--<a href="#" class="rh" data-toggle="modal" data-name="RH-2" data-target="#team-modal">-->
                            <!--<i class="fa fa-sign-in" aria-hidden="true"></i>-->
                        <!--</a>-->
                        <!--<br><br>-->

                        <!--{{ teamlist }}-->

                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="col-sm-6 room-container">-->


                    <!--<div class="room-div">-->

                        <!--<h3 class="text-center">RH-3</h3>-->

                        <!--<a href="#" class="rh" data-toggle="modal" data-name="RH-3" data-target="#room-modal">-->
                            <!--<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>-->
                        <!--</a>-->
                        <!--&nbsp;-->
                        <!--<a href="#" class="rh" data-toggle="modal" data-name="RH-3" data-target="#team-modal">-->
                            <!--<i class="fa fa-sign-in" aria-hidden="true"></i>-->
                        <!--</a>-->
                        <!--<br><br>-->

                        <!--{{ teamlist }}-->

                    <!--</div>-->

                <!--</div>-->
                <!--<div class="col-sm-6 room-container">-->


                    <!--<div class="room-div">-->

                        <!--<h3 class="text-center">RH-4</h3>-->

                        <!--<a href="#" class="rh" data-toggle="modal" data-name="RH-4" data-target="#room-modal">-->
                            <!--<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>-->
                        <!--</a>-->
                        <!--&nbsp;-->
                        <!--<a href="#" class="rh" data-toggle="modal" data-name="RH-4" data-target="#team-modal">-->
                            <!--<i class="fa fa-sign-in" aria-hidden="true"></i>-->
                        <!--</a>-->
                        <!--<br><br>-->

                        <!--{{ teamlist }}-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        </div>

    </div>


    <div class="jumbotron secondary-jum">
        <h2 class="jum-title2">Buffer Overflow <i class="fa fa-user fa-lg" id="jum-title-icon" aria-hidden="true"></i></h2>
        <p>
            A description of what this lab is about and why you should participate.
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
            Maecenas sed diam eget risus varius blandit sit amet non magna.
            <br><br><br>
        </p>

        <div class="text-center">
            <!--<button type="button" class="center btn btn-primary btn-lg" data-toggle="modal" data-target="#rh-modal">-->
            <button type="button" class="center btn btn-primary btn-lg" onclick="showHide('bo-ws-div')">
                Begin Workshop
            </button>
        </div>

        <br><br>

        <div id="bo-ws-div" style="display: none; text-align: center;">
            <h3>Please enter the following IP to your Remote Desktop Application:
                <br><br><span class="ip-addr">129.108.18.142:5000</span></h3>

        </div>

    </div>

    <div class="jumbotron secondary-jum">
        <h2 class="jum-title1">Man in the Middle <i class="fa fa-user fa-lg" id="jum-title-icon" aria-hidden="true"></i></h2>
        <p>
            A description of what this lab is about and why you should participate.
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
            Maecenas sed diam eget risus varius blandit sit amet non magna.
        </p>
    </div>

    <div class="jumbotron secondary-jum">
        <h2 class="jum-title2">SSL Strip <i class="fa fa-users fa-lg" id="jum-title-icon" aria-hidden="true"></i></h2>
        <p>
            A description of what this lab is about and why you should participate.
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
            Maecenas sed diam eget risus varius blandit sit amet non magna.
        </p>
    </div>

    <div class="jumbotron secondary-jum">
        <h2 class="jum-title1">HFS <i class="fa fa-users fa-lg" id="jum-title-icon" aria-hidden="true"></i></h2>
        <p>
            A description of what this lab is about and why you should participate.
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
            Maecenas sed diam eget risus varius blandit sit amet non magna.
        </p>
    </div>


    <!-- MODAL -->
    <div class="modal fade" id="room-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                </div>


                <form action="/room" method="POST">
                    <div class="modal-body">

                        <h3 class="modal-title">

                            You are team leader.
                            <br>Please enter a <i>username</i> and a <i>room key</i> to share with your friends.
                            <br><br>
                        </h3>
                        <div class="form-group row">
                            <label for="username" class="col-4 col-form-label">Username: </label>
                            <div class="col-8">
                                <input class="form-control" id="username" name="username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="roomkey" class="col-4 col-form-label">Room Key: </label>
                            <div class="col-8">
                                <input class="form-control" id="roomkey" name="roomkey">
                            </div>
                        </div>

                        <!-- Hidden Room Name field -->
                        <div class="col-8 roomname">
                            <input class="form-control" id="roomname" name="roomname" class="roomname">
                        </div>

                        <div class="col-8 wsu">
                            <input class="form-control" id="wsu" name="wsu" class="wsu">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="btn-save" class="btn btn-primary">Save changes</button>
                    </div>
                </form>


            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- END MODAL -->




    <!-- MODAL -->
    <div class="modal fade" id="team-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                </div>


                <form action="/team" method="POST">
                    <div class="modal-body">

                        <h3 class="modal-title">

                            Please enter your own <i>username</i>, as well as <i>room key</i> shared by team leader.
                            <br><br>
                        </h3>
                        <div class="form-group row">
                            <label for="username" class="col-4 col-form-label">Username: </label>
                            <div class="col-8">
                                <input class="form-control" id="username" name="username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="roomkey" class="col-4 col-form-label">Room Key: </label>
                            <div class="col-8">
                                <input class="form-control" id="roomkey" name="roomkey">
                            </div>
                        </div>

                        <div class="col-8 roomname">
                            <input class="form-control" id="roomname" name="roomname" class="roomname">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="btn-save" class="btn btn-primary">Save changes</button>
                    </div>
                </form>


            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- END MODAL -->



    <script type="text/javascript">
        $('#team-modal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget)
            var name = button.data('name')

            var modal = $(this)
            modal.find('.roomname input').val(name)

        });

        $('#room-modal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget)
            var name = button.data('name')
            var wsu = button.data('wsu')

            var modal = $(this)
            modal.find('.roomname input').val(name)
            modal.find('.wsu input').val(wsu)

        });
    </script>





</div> <!-- /container -->

{% include "footer.html" %}
